*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* tag */
footer{
    background-color: rgb(45, 45, 45)
}
hr{
    background-color: grey;
    margin: 10px;
}
header{
    background-color: #5865f2;
    height: 75px;
    padding: 10px;
 }

ul{
    list-style-type: none;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}


/* CONTAINER */
.container{
    max-width: 1200px;
    margin: auto;
}
.container-sm{
    max-width: 991px;
    margin: auto;

}
.display-flex{
    display: flex;
}

/* Colore testo */
.text-white{
    color: white;
    
}
.text-center{
    text-align: center;
    line-height: 25px;

}


/* row */
.row{
    width: 100%;
    display: flex;
}

.align-items{
    align-items: center;
}

/* Bottone */
.bottone{
    padding: 10px 20px;
    border-radius: 40px;
    border: none;   
    align-items: center;
    font-size: 15px;
}
/* Immagine sfondo */
.sfondo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    
}
/* Allineamento */
.align-center{
    align-items: center;
}

/* COLONNE */
.col-15{
    width: 15%;
    display: flex;
    justify-content: end;
}

.col-16{
    width: calc(100% / 6);
    display: flex;
   
  }

.col-55{
    width: 55%;
}

.col-33{
    width: calc(100% / 3);
}
.col-45{
    width: 45%;
}
.col-70{
    width: 70%;
    margin: auto;
}
.col-100{
    width: 100%;
    
}
.stelline{
    width: 70%;
}

/* margini */
.margin-container{
    margin: 0 auto;
}
.margin-top{
    margin-top: 10px;
}

.margin-y-30{
    margin: 30px 0;
 }
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-top-150{
    margin-top: 150px;
}


/* altezze */

.height-600{
    height: 600px;
}

.height-300{

    height:300px;
}
.altezza-linea{
    line-height:30px;
}

/* padding */
.padding-y-10{
    padding: 10px 0;
}

.padding-y-30{
    padding: 30px 0;
}
.padding-15{
    padding:15px;
}

/* Margini */
.margin-left{
   margin-left: 10px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}

/* colori background */
.bg-black{
    background-color: black;
}
.bg-violet{
    background-color: rgb(105, 88, 121);
}



hr
{
    width: 100%;
    margin: auto;
}

.settimoblocco{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;

}

li{
  list-style-type: none;
  color:white
}
.testata{
    color: #5865f2;
}

/* HR */
hr{
    color: #fff;
    margin: 30px 0px;
}
/* OTTAVO BLOCCO */
.ottavoblocco{
    display:flex;
    width: 100%;
    height:100px;
    justify-content: space-between;
    align-items: flex-start;
   
}

.paragrafo{
  margin-top: 5px;
  color: #8ea1e1;
  padding-right: 25px;
  font-size: 15px;
  font-weight: bold;
}
div > ul{
    color: #fff;
}
.img-100{
    max-width: 100%;
}
.ita{
    width:25px;
}